*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    --title-height: 30px;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    flex: 0 1 auto;
    margin: 0;
    flex-basis: var(--title-height);
    text-align: center;
    font-size: calc(var(--title-height) - 5px);
    color: teal;
}

.viewport-section {
    display: flex;
    height: calc(100vmin - (2 * var(--title-height)));
    padding: 6px;
    aspect-ratio: 1;
}

.viewport-center {
    aspect-ratio: 1;
    overflow: hidden; /* fix firefox not resizing canvas */
    border: 1px solid black;
}

.container {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}

.hud {
    position: absolute;
    min-height: 100%;
    min-width: auto;
}

.hud > .MuiPaper-root {
    margin: 24px 24px 0 24px;
}

.MuiSvgIcon-root {
    vertical-align: middle;
}

.player-summary-pane {
    text-align: center;
}

.player-summary-pane-row {
    border-bottom: none
}

.player-summary-pane-row > td {
    padding: 5px;
}

.contract-card {
    width: 100%;
    text-align: left;
    padding: 8px;
    display: block;
}

.contract-card:hover {
    background-color: rgb(0, 0, 0, 0.04);
}

.contract-card-heading {
    margin-bottom: 8px;
}

.contract-pane > .MuiTypography-root {
    margin: 16px 16px 0 16px;
}
